.projects__text {
  max-width: 1080px;
  margin-bottom: 30px;
}

.projects__partners {
  margin-bottom: 16px;
}

.projects__list {
  display: flex;
  gap: 34px;
}

.projects__card {
  padding: 27px;
  border: 1px solid var(--bright-gray-more);
}
