/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
}

.main-nav__item {
  font-size: 18px;
  line-height: 21.09px;
  color: white;
}
