html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1170px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #F1F1F1;
}

/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 13px 20px;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  line-height: 16px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  background-color: #fff;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section-offset {
  padding: 35px 0px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  text-indent: 40px;
  font-weight: 400;
  font-size: 40px;
  color: #333;
}

.visually-hidden {
  display: none;
}

/* header */
.header {
  padding: 30px 0 35px 0;
}

.header-up {
  align-items: center;
}

.header-logo {
  margin-right: 40px;
  flex-shrink: 0;
}

.header-phone {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-cabinet {
  padding-left: 31px;
  font-weight: 400;
  font-size: 16px;
  color: #c93;
  background-image: url(../img/headerkeyboard_tab.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.header-up {
  margin-bottom: 30px;
}

.header-nav {
  align-items: center;
  padding: 14px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.nav-buttons {
  margin-left: auto;
}

.header-firstbtn {
  margin-right: 40px;
}

/* special-offers */
.special-offers-block {
  gap: 24px 24px;
}

.offers-block {
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex-basis: calc((100% - 24px)/2);
}

.offers-article {
  padding: 40px 45px;
}

.offers-title {
  margin: 0;
  margin-bottom: 15px;
}

.offers-article-maldives {
  flex-grow: 1;
  background-image: url(../img/offers-mald.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  background-color: #918f8f;
}

.title-maldives {
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.price-maldives {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
}

.offers-article-crete {
  flex-grow: 1;
  background-image: url(../img/offers-crete.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  background-color: #918f8f;
}

.title-crete {
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.price-crete {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  opacity: 0.8;
}

.offers-article-lux {
  flex-grow: 1;
  align-content: flex-end;
  background-image: url(../img/offers-lux.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  background-color: #918f8f;
}

.title-lux {
  max-width: 299px;
  font-weight: 700;
  font-size: 60px;
  color: #fff;
}

.price-lux {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  opacity: 0.8;
}

.offers-price {
  margin: 0;
  margin-bottom: 47px;
}

.offers-link {
  padding-right: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #f0bf5f;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

/* about-us */
.about-us-text {
  width: 76%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* services */
.services-list {
  flex-wrap: wrap;
  gap: 24px 24px;
}

.services-item {
  flex-grow: 1;
  flex-basis: calc((100% - 24px)/2);
  padding: 191px 45px 35px 45px;
  max-width: 573px;
  background-color: #fff;
  border-radius: 15px;
}

.services-item-serv {
  background-image: url(../img/services-serv.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.services-item-rent {
  background-image: url(../img/services-rent.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.services-item-sauna {
  background-image: url(../img/services-sauna.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.services-item-parking {
  background-image: url(../img/services-parking.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.services-link-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #c93;
}

.services-link {
  padding-right: 18px;
  background-image: url(../img/arrow-2.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.services-text {
  margin: 0;
  max-width: 402px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
  gap: 22px 22px;
}

.advantages-item {
  flex-basis: calc((100% - 22px*3)/4);
  padding: 116px 42px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.advantages-1 {
  background-image: url(../img/advantage-1.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-2 {
  background-image: url(../img/advantage-2.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-3 {
  background-image: url(../img/advantage-3.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-4 {
  background-image: url(../img/advantage-4.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-5 {
  background-image: url(../img/advantage-5.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-6 {
  background-image: url(../img/advantage-6.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-7 {
  background-image: url(../img/advantage-7.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-8 {
  background-image: url(../img/advantage-8.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* accommodation */
.accommodation-list {
  flex-wrap: wrap;
  gap: 24px 24px;
}

.accommodation-item {
  flex-basis: calc((100% - 24px*2)/3);
  background-color: #fff;
  border-radius: 15px;
}

.accommodation-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-item-wrapper {
  padding: 32px 42px 32px 45px;
}

.accomodation-price-from {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.accommodation-price {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.accomodation-price-night {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.accommodation-item-descr {
  margin: 0;
  margin-bottom: 16px;
}

.accommodation-name {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.accommodation-location {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #999;
}

.accommodation-item-rating {
  display: flex;
  margin: 0;
  gap: 6px;
}

.rating-stars {
  display: block;
  width: 14px;
  height: 14px;
}

.accommodation-item-price {
  justify-content: space-between;
}

.accomodation-last {
  display: flex;
  padding: 27px;
  align-items: flex-end;
  justify-content: center;
  min-height: 440px;
  background-image: url(../img/accomodation9.jpg);
  background-size: cover;
  background-color: #918f8f;
}

.accommodation-link {
  padding-right: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  background-image: url(../img/arrow-accomod.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
